// vim: syntax=json

{
    "rules": {
        "indent": [2, 4],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "no-unused-vars": [2, {"vars": "all", "args": "none", "argsIgnorePattern": "^_"}]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true,
        "jasmine": true,
        "mocha": true
    },
    "globals": {
        "angular": false,
        "$": false
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ]
}
