[user]
    name = Thomas
    email = thomas.whyyou@gmail.com

; [color]
;     ui = auto

; [color "branch"]
;     current = yellow reverse
;     local = yellow
;     remote = green

[color "status"]
    added = 148  # Yucky green
    changed = 163  # Purple
    untracked = 208  # Orange

[color "diff"]
    meta = 255  # White
    frag = 163  # Purple
    old = 160 # Red
    new = 34  # Green
