[user]
    name = Thomas
    email = thomas.whyyou@gmail.com

; [color]
;     ui = auto

; [color "branch"]
;     current = yellow reverse
;     local = yellow
;     remote = green

[color "status"]
    added = 34  # Green
    changed = 163  # Purple
    untracked = 33  # Blue

[color "diff"]
    meta = 163  # Purple
    frag = 255  # White
    old = 160 # Red
    new = 34  # Green
